<section class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light">
    <div class="container">
        <div class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light">
            <div class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light">
                <article class="card__blog">
                    <div class="card__blog__image mb-4">
                        <img class="img-fluid" src="/images/20-07-750x410.png" alt="Adoção responsável: o que você precisa saber antes de adotar um cão">
                    </div>
                    <h2 class="card__blog__title color-vivid-orange mb-4">Adoção responsável: o que você precisa saber antes de adotar um cão</h2>
                    <div class="card__blog__content font-weight-lighter" style="font-family: 'Montserrat'">
                        <p><strong><em>Quem pensa em adotar um pet, deve analisar antes se pode garantir a saúde e bem-estar do animal</em></strong></p>
                        <p>Um grande erro de quem adota um pet é tomar a decisão por impulso.</p>
                        <p>Apesar de os cães trazerem muita alegria para dentro de casa, eles também são seres vivos, e consequentemente, dão trabalho.</p>
                        <p>Os cães <strong><a href="https://totosdatete.org.br/comportamento/tudo-sobre-vira-latas/">vira-latas</a></strong> de rua, costumam carregar grandes traumas por sofrerem maus-tratos.</p>
                        <p>Antes de cogitar adotar um totó, o tutor deve analisar bem algumas questões:</p>
                        <ul>
                            <li>A <strong>ONG</strong> onde irá adotá-lo;</li>
                            <li>O lado <strong>emocional</strong> dele (pode estar afetado, o que reflete no <strong>comportamento</strong>);</li>
                            <li>Se tem <strong>condição financeira</strong> para bancar as necessidades que o pet demanda, como saúde, alimentação e bem-estar;</li>
                            <li><strong>Tempo</strong> suficiente para dedicar atenção e carinho;</li>
                            <li>Pode <strong>proporcionar espaço e <a href="https://totosdatete.org.br/comportamento/enriquecimento-ambiental-coloque-em-pratica-na-sua-casa/">estrutura</a></strong> na casa para receber e dar conforto ao cão.</li>
                        </ul>
                        <p>Atualmente, há <strong>20 milhões de cachorros abandonados</strong> somente no Brasil, por irresponsabilidade de tutores que acham que cuidar de um animal, é como cuidar de uma plantinha que só precisa ser regada uma vez ao dia.</p>
                        <p>Os animais são sentimentais, inteligentes, precisam de atenção e muito amor por parte de seus responsáveis.</p>
                        <p>Quem não tem tempo e mal fica em casa, deve pensar muito antes de levar um cão para casa, principalmente se for adotar.</p>
                        <p>Os <strong>animais abandonados</strong> já sofreram o suficiente. Quem escolher levar um pet para a casa, precisa oferecer uma vida nova e diferente.</p>

                        <p><strong>Brasil tem 30 milhões de animais abandonados</strong></p>
                        <section class="ftco-counter" id="section-counter">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                                        <div class="block-18 text-center">
                                            <div class="text">
                                                <strong class="number" data-number="10000000">10,000,000</strong>
                                            </div>
                                            <div class="text">
                                                <span>Entre 10 milhões de gatos</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                                        <div class="block-18 text-center">
                                            <div class="text">
                                                <strong class="number" data-number="20000000">20,000,000</strong>
                                            </div>
                                            <div class="text">
                                                <span>Entre 20 milhões de cães</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                    <p><span></span> <a href="/Anuncio">Adotar</a></p>

                </article>
            </div>
        </div>
    </div>
</section>
